.content {
    margin-left: 100px;
    margin-right: 100px;
    
}
.body{
    background-color: #f0f3f4;
}
.header {
    background-color: cornflowerblue;
    padding: 10px;
    margin-bottom: 10px;

}

.header p{
    color: #fff;
    font-size: 16px;
    margin-left: 100px;
}
.block {
    border: 1px solid #dfdfdf;
    background-color: #fff;
    box-shadow: 0px 3px #f0f3f4 ;
    border-radius: 2%;
    margin-bottom: 15px;
}

.block .text-line{
    font-size: 18px;
    padding: 10px;
}
.search{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.block .text-search{
    font-size: 15px;
    font-weight: bold;
}

.search input{
    width: 100%;
    position: relative;
    height: 35px;
}

.btn-search {
    margin-top: 15px;
    margin-left: auto;
    margin-right: 0px;
    padding: 10px;
    display: flex; 
    width: fit-content;
    justify-content: flex-end;
}
table{
  border-collapse: collapse;
  border: 1px solid #f0f3f4;
  width: 100%;
}
tr {
    border-bottom: 1px solid #f0f3f4;
}
td{
    padding: 10px;
}
th {
    background-color: #f0f3f4;
    padding: 10px;
}
.info-detail {
    padding-left: 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;


}

.title-rc {
    border: none;
    float: right;
}

.btn-edit {
    position: absolute;
    right: 25px;
    background-color: #ff9900;
    border: none;
    color: white;
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    width: auto;
}
.info p{
    padding: 10px;
    padding-left: 25px;
}

td input{
    width: 50%;
}

.annu{
    border-radius: 5px;
    padding: 10px;
    border: #dfdfdf;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}
.enre{
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #fff;
    background-color: rgb(85, 153, 16);
    
}
.btn {
    display: flex; 
    justify-content: flex-end;
    padding: 20px;
}